canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  color: #820933;
  text-align: center;
  width: 100%;
  left: 0px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
}

h2 {
  text-decoration: underline;
}

p {
  color: #C6DDF0;
  background-color: #2E405260;
  margin-left: 20%;
  margin-right: 20%;
  padding: .5%;
  text-align: left;
}

.center {
  text-align: center;
}

a {
  color: #C6DDF0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2E4052;
}

::-webkit-scrollbar-thumb {
  background: #5E7082;
}